<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>Fizyka</title>
	<link type="text/css" rel="stylesheet" href="style.css" />
</head>


<body>

	<div id="page">

		<div id="menuTop">
			<button class="L" @click="partOfMenu = 1">Kulka</button>
			<button class="L" @click="partOfMenu = 2">Pole elektrostatyczne</button>
			<button class="L" @click="partOfMenu = 3">Pole magnetyczne</button>
		</div>

		<div id="menuMiddle">

			<div v-if="partOfMenu === 1">
				<table>
					<tr>
						<th class="col1">Współrzędna X
						</th>
						<td class="col2">
							<span v-if="!x.show">
								{{x.value.toFixed(3)}}
								<button class="S" @click="x.show = true">Zmień</button>
							</span>
							<span  v-if="x.show">
								<input type="text" v-model="x.new" />
								<button class="S" @click="x.actualize()">Zatwierdź</button>
								<button class="S" @click="x.show = false">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th>Współrzędna Y
						</th>
						<td>
							<span v-if="!y.show">
								{{y.value.toFixed(3)}}
								<button class="S" @click="y.show = true">Zmień</button>
							</span>
							<span  v-if="y.show">
								<input type="text" v-model="y.new" />
								<button class="S" @click="y.actualize()">Zatwierdź</button>
								<button class="S" @click="y.show = false">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th>Składowa X prędkości
						</th>
						<td> 
							<span v-if="!showVx">
								{{vX.toFixed(3)}}
								<button class="S" @click="showVx = true">Zmień</button>
							</span>
							<span  v-if="showVx">
								<input type="text" v-model="newVx" />
								<button class="S" @click="actualizeVX();">Zatwierdź</button>
								<button class="S" @click="showVx = false">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th> Składowa Y prędkości
						</th>
						<td> 
							<span v-if="!showVy">
								{{vY.toFixed(3)}}
								<button class="S" @click="showVy = true">Zmień</button>
							</span>
							<span  v-if="showVy">
								<input type="text" v-model="newVy" />
								<button class="S" @click="actualizeVY();">Zatwierdź</button>
								<button class="S" @click="showVy = false">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th> Szybkość
						</th>
						<td> {{ v.toFixed(3)  }}
						</td>
					</tr>

					<tr>
						<th> Składowa X pędu
						</th>
						<td>
							<span v-if="!pX.show">
								{{pX.value.toFixed(3)}}
								<button class="S" @click="pX.show = true">Zmień</button>
							</span>
							<span  v-if="pX.show">
								<input type="text" v-model="pX.new" />
								<button class="S" @click="pX.actualize();">Zatwierdź</button>
								<button class="S" @click="pX.show = false">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th> Składowa Y pędu
						</th>
						<td>
							<span v-if="!pY.show">
								{{pY.value.toFixed(3)}}
								<button class="S" @click="pY.show = true">Zmień</button>
							</span>
							<span  v-if="pY.show">
								<input type="text" v-model="pY.new" />
								<button class="S" @click="pY.actualize();">Zatwierdź</button>
								<button class="S" @click="pY.show = false">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th> Wartość pędu
						</th>
						<td> {{ p.toFixed(3) }}
						</td>
					</tr>

					<tr>
						<th> Masa
						</th>
						<td>
							<span v-if="!m.show">
								{{m.value.toFixed(3)}}
								<button class="S" @click="m.show = true">Zmień</button>
							</span>
							<span  v-if="m.show">
								<input type="text" v-model="m.new" />
								<button class="S" @click="actualizeM();">Zatwierdź</button>
								<button class="S" @click="m.show = false">Cofnij</button>	
							</span>
						</td>
					</tr>


					<tr>
						<th> Ładunek
						</th>
						<td>
							<span v-if="!q.show">
								{{q.value.toFixed(3)}}
								<button class="S" @click="q.show = true">Zmień</button>
							</span>
							<span  v-if="q.show">
								<input type="text" v-model="q.new" />
								<button class="S" @click="q.actualize();">Zatwierdź</button>
								<button class="S" @click="q.show = false">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th> Energia kinetyczna
						</th>
						<td> {{eK.toFixed(3)}}
						</td>
					</tr>


				</table>


			</div>

			<div v-if="partOfMenu === 2">
				<table>
					<tr v-if="!e.show">
						<th class="col1">Typ pola
						</th>
						<td class="col2">
							{{e.type.value}}
						</td>
					</tr>

					<tr v-if="e.type.value === 'Centralne' && !e.show">
						<th>Współrzędna X ładunku
						</th>
						<td> {{e.x.value}}
						</td>
					</tr>

					<tr v-if="e.type.value === 'Centralne' && !e.show">
						<th>Współrzędna Y ładunku
						</th>
						<td> {{e.y.value}}
						</td>
					</tr>

					<tr v-if="e.type.value === 'Centralne' && !e.show">
						<th>Ładunek
						</th>
						<td> {{e.q.value}}
						</td>
					</tr>

					<tr v-if="e.type.value === 'Jednorodne' && !e.show">
						<th>Składowa X natężenia pola
						</th>
						<td> {{e.ex.value}}
						</td>
					</tr>

					<tr v-if="e.type.value === 'Jednorodne' && !e.show">
						<th>Składowa Y natężenia pola
						</th>
						<td> {{e.ey.value}}
						</td>
					</tr>







					<tr v-if="e.show">
						<th class="col1 moreHeight" >Typ pola
						</th>
						<td class="col2 moreHeight">
							<input type="radio" v-model="e.type.new" value="Centralne" id="Centralne" />
							<label for="Centralne"> Centralne </label>
							<br />
							<input type="radio" v-model="e.type.new" value="Jednorodne" id="Jednorodne" />
							<label for="Jednorodne"> Jednorodne </label>
							<br />
							<input type="radio" v-model="e.type.new" value="Brak" id="Brak" />
							<label for="Brak"> Brak </label>
						</td>
					</tr>

					<tr v-if="e.show && e.type.new === 'Centralne'">
						<th>Współrzędna X ładunku
						</th>
						<td> <input type="text" v-model="e.x.new" />
						</td>
					</tr>

					<tr v-if="e.show && e.type.new === 'Centralne'">
						<th>Współrzędna Y ładunku
						</th>
						<td> <input type="text" v-model="e.y.new" />
						</td>
					</tr>

					<tr v-if="e.show && e.type.new === 'Centralne'">
						<th>Ładunek
						</th>
						<td> <input type="text" v-model="e.q.new" />
						</td>
					</tr>


					<tr v-if="e.type.new === 'Jednorodne' && e.show">
						<th>Składowa X natężenia pola
						</th>
						<td> <input type="text" v-model="e.ex.new" />
						</td>
					</tr>

					<tr v-if="e.type.new === 'Jednorodne' && e.show">
						<th>Składowa Y natężenia pola
						</th>
						<td> <input type="text" v-model="e.ey.new" />
						</td>
					</tr>


				</table>

				<button class="M" v-if="!e.show" @click="e.show = true;">Zmień</button>
				<button class="M" v-if="e.show" @click="e.show = false;">Cofnij</button>
				<button class="M" v-if="e.show" @click="e.actualize();">Zatwierdź</button>
			</div>


			<div v-if="partOfMenu === 3">
				<table>


					<tr>
						<th class="col1">Indukcja magnetyczna
						</th>
						<td class="col2">
							<span v-if="!b.show">
								{{b.value}}
								<button class="S" @click="b.show = true">Zmień</button>
							</span>
							<span  v-if="b.show">
								<input type="text" v-model="b.new" />
								<button class="S" @click="b.actualize()">Zatwierdź</button>
								<button class="S" @click="b.show = false;">Cofnij</button>	
							</span>
						</td>
					</tr>

					<tr>
						<th>Siła Lorentza
						</th>
						<td> {{Math.abs(forceLorentz).toFixed(3)}}
						</td>
					</tr>

					<tr>
						<th>Promień
						</th>
						<td> {{radiusShowed}}
						</td>
					</tr>


					<tr>
						<th>Okres
						</th>
						<td> {{periodShowed}}
						</td>
					</tr>


					<tr>
						<th>Prędkość kątowa
						</th>
						<td> {{angularVelocityShowed}}
						</td>
					</tr>



				</table>
			</div>

			



		</div>

		<div id="menuBottom">

			<button class="L" @click="draw = !draw">
				<span v-if="draw">Rysowanie włączone</span>
				<span v-if="!draw">Rysowanie wyłączone</span>
				
			</button>

			<button class="L"  @click="clear()">Czyść</button>

			<button class="L" @click="pause = !pause">
				<span v-if="pause">Wznów</span>
				<span v-if="!pause">Pauza</span>
			</button>

		</div>






		<canvas id="canvas" width="600" height="600"></canvas>
		<canvas id="canvas2" width="600" height="600"></canvas>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

	<script src="script.js">

		



	</script>
	</html>