
		* {
			font-family: Arial, sans-serif;
			font-size: 26px;
		}


		canvas {
			border: 5px solid black;
			position: absolute;
			left: 20px;
			top: 950px;
		}


		#menuTop {
			border: 5px solid darkblue;
			width: 900px;
			height: 100px;
			background-color: white;
			border-bottom: 0;
		}

		#menuMiddle {
			border: 5px solid darkblue;
			width: 900px;
			height: 700px;
			border-bottom: 0;
		}

		#menuBottom {
			border: 5px solid darkblue;
			width: 900px;
			height: 100px;
		}

		button {
			font-family: "Arial Black", sans-serif;
			background-color: white;
			color: darkblue;
			text-align: center;
			border-color: darkblue;
			border-style: solid;
		}

		button:hover {
			border-color: deepskyblue !important;
			color: deepskyblue !important;
		}

		.L {
			width: 270px;
			height: 80px;
			border-width: 5px;
		
			float: left;
			margin: 10px;
			line-height: 30px;
		}

				.L span {
			font-family: "Arial Black", sans-serif;
		}



		.M  {
			width: 150px;
			height: 50px;
			font-size: 22px;
			border-width: 2px;

			display: block;
			margin: 5px auto;

		}

		




		.S {
			font-size: 20px;
			border-width: 1px;
			float: right;
			height: 36px;
			margin: auto 3px;
		}




















		input[type="text"] {
			font-size: 20px;
			border: 1px solid darkblue;
			width: 70px;
			float: left;
			padding: 2px;
			height: 28px;

		}

		input[type="text"]:hover {
			border-color: deepskyblue;
		}




		table {
			
			width: 800px;
			border-collapse: collapse;
			margin: 30px auto;
		}

		td, th {
			height: 40px;
			border: 3px solid black;
			padding: 7px;
			vertical-align: middle;
		}

		.moreHeight {
			height: 80px;
		}

		.col1 {
			width: 400px;
		}

		.col2 {
			width: 300px;
		}
